<div class="max-w-xl mx-auto bg-white border-2 border-black shadow-[5px_5px_0_#e21836] p-8 mt-10">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold mb-6">Item Details</h1>
     <% qrcode = RQRCode::QRCode.new(item_url(@item)) %>
     <%= raw qrcode.as_svg(module_size: 3, standalone: true) %>
  </div>
  <p class="mb-8 text-lg"><%= @item.content %></p>
  <div class="flex gap-4">
    <%= link_to 'Edit', edit_item_path(@item), class: 'bg-black text-white font-bold py-2 px-4  shadow-[3px_3px_0_#e21836] hover:bg-gray-800 transition-all duration-150' %>
    <%= link_to 'Back', items_path, class: 'bg-black text-white font-bold py-2 px-4  shadow-[3px_3px_0_#e21836] hover:bg-gray-800 transition-all duration-150' %>
    <%= button_to 'Delete', @item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'bg-red-600 text-white font-bold py-2 px-4  shadow-[3px_3px_0_#e2183600] hover:bg-red-800 transition-all duration-150', form: { class: 'inline' } %>
  </div>
</div>
