<header class="top-0 left-0 right-0 bg-white border-b-2 border-black w-full border-b backdrop-blur">
  <div class="container mx-auto flex items-center gap-2 md:gap-4">
    <div class="flex-1 flex justify-center">
      <%= link_to (authenticated? ? authenticated_root_path : unauthenticated_root_path), class: "p-0 m-0" do %>
        <img src="/foundit_logo_camper.svg" alt="FoundIT Logo" class="h-6 w-auto m-0 pt-2">
      <% end %>
    </div>
    <nav class="flex-1 flex justify-center gap-4 xl:gap-6">
      <% if authenticated? %>
        <%= link_to 'My Items', items_path, class: 'text-gray-700 hover:text-gray-900' %>
        <%= link_to 'Register Item', new_item_path, class: 'text-gray-700 hover:text-gray-900' %>
        <%= button_to 'Sign Out', session_path, method: :delete, class: 'text-red-600 hover:text-red-800' %>
      <% else %>
        <%= link_to 'Sign In', new_session_path, class: 'text-gray-700 hover:text-gray-900' %>
        <%= link_to 'Register', new_registration_path, class: 'text-gray-700 hover:text-gray-900' %>
      <% end %>
    </nav>
  </div>
</header>    